<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thermatk.android.meatb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name=".ApplicationMain"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:noHistory="true"
            android:label="@string/app_name" />
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".activities.NewActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.SplashLoadActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.InboxUpdateService"
            android:enabled="true" />
        <service
            android:name=".services.AgendaUpdateService"
            android:enabled="true" />
    </application>

</manifest>